.col-md-4
  %h3 マスターデータ
  %ul
    %li
      %a(href="/master/ships") ふね
    %li
      マップ
      %ul
        - 1.upto 5 do |i|
          %li
            = "#{i} - "
            - 1.upto 4 do |j|
              %a.btn(href="/master/map?map=#{i}&area=#{j}")= "#{j}"
.col-md-4
  %h3 出撃
  %ul
    %li
      特殊
      %ul
        %li
          %a(href="/battle/3-2-1") 3-2-1
    %li
      通常
      %ul
        - [4, 4, 4, 4, 2].each_with_index do |areas, map|
          %li
            = "#{map+1} - "
            - areas.times do |area|
              %a.btn(href="/battle/#{map+1}-#{area+1}")
                = area + 1
    %li
      その他
      %ul
        %li
          %a(href="/mission") えんせい
        %li
          %a(href="/practice") えんしゅう
.col-md-4
  %h3 操作
  %ul
    %li
      修理
      %ul
        %li
          %a(href="/repair") しゅうり
        %li
          %a(href="/repair?cheat=true") すごいしゅうり
    %li
      %a(href="/supply") ほきゅう
    %li
      %a(href="/quests") くえすと
    %li
      造船
      %ul
        %li
          %a(href="/create/cv") くうぼ
        %li
          %a(href="/create/bb") せんかん
        %li
          %a(href="/create/r-dd") れあ
        %li
          %a(href="/create/cheap") びんぼう
    %li
      装備
      %ul
        %li
          %a(href="/weapon/aircraft") ひこーき
        %li
          %a(href="/weapon/cheap") びんぼう

