.col-md-4
  %h3 マスターデータ
  %ul
    %li
      %a(href="/master/ships") ふね
    %li
      マップ
      %ul
        - 1.upto 5 do |i|
          %li
            = "#{i} - "
            - 1.upto 4 do |j|
              %a.btn(href="/master/map?map=#{i}&area=#{j}")= "#{j}"
  %h3 ユーザデータ
  %ul
    %li
      %a(href="/user/fleets") かんたい
    %li
      %a(href="/user/ships") ふね
    %li
      %a(href="/user/status") すてーたす
.col-md-4
  %h3 出撃
  %ul
    %li
      特殊
      %ul
        %li
          %a(href="/battle/3-2-1") 3-2-1
    - if @areas.any?(&:event_area?)
      %li
        イベント
        %ul
          - @areas.select(&:event_area?).each do |area|
            %li
              = area.name
              %ul
                - @mapinfos[area.id].each do |mapinfo|
                  %li
                    %a(href="/battle/#{area.id}-#{mapinfo.map_id}")
                      = mapinfo.name

    %li
      通常
      %ul
        - @areas.reject(&:event_area?).each do |area|
          %li
            = "#{area.id} - "
            - @mapinfos[area.id].each do |mapinfo|
              %a.btn(href="/battle/#{area.id}-#{mapinfo.map_id}")
                = mapinfo.map_id

    %li
      その他
      %ul
        %li
          %a(href="/mission") えんせい
        %li
          %a(href="/practice") えんしゅう
.col-md-4
  %h3 操作
  %ul
    %li
      キラ化
      %ul
        - {ss: '潜水艦', dd: '駆逐', cl: '軽巡', tc: '雷巡', ca: '重巡', lcv: '軽空母', cv: '正規空母', bb: '戦艦' }.each_pair do |type, name|
          %li
            %a(href="/kira?type=#{type}")= name
    %li
      修理
      %ul
        %li
          %a(href="/repair") しゅうり
        %li
          %a(href="/repair?cheat=true") すごいしゅうり
    %li
      %a(href="/supply") ほきゅう
    %li
      %a(href="/quests") くえすと
    %li
      造船
      %ul
        %li
          %a(href="/create/cv") くうぼ
        %li
          %a(href="/create/bb") せんかん
        %li
          %a(href="/create/r-dd") れあ
        %li
          %a(href="/create/cheap") びんぼう
    %li
      装備
      %ul
        %li
          %a(href="/weapon/aircraft") ひこーき
        %li
          %a(href="/weapon/cheap") びんぼう

    %li
      危険
      %ul
        %li
          %a(href="/user/ships/destroy") 解体
