.col-md-4
  %h3 マスターデータ
  %ul
    %li
      %a(href="/master/ships") ふね
    %li
      マップ
      %ul
        - 1.upto 5 do |i|
          %li
            = "#{i} - "
            - 1.upto 4 do |j|
              %a.btn(href="/master/map?map=#{i}&area=#{j}")= "#{j}"
  %h3 ユーザデータ
  %ul
    %li
      %a(href="/user/fleets") かんたい
    %li
      %a(href="/user/ships") ふね
    %li
      %a(href="/user/status") すてーたす
.col-md-4
  %h3 出撃
  %ul
    %li
      特殊
      %ul
        %li
          %a(href="/battle/3-2-1") 3-2-1
    %li
      通常
      %ul
        - [4, 4, 4, 4, 3].each_with_index do |areas, map|
          %li
            = "#{map+1} - "
            - areas.times do |area|
              %a.btn(href="/battle/#{map+1}-#{area+1}")
                = area + 1
    %li
      その他
      %ul
        %li
          %a(href="/mission") えんせい
        %li
          %a(href="/practice") えんしゅう
.col-md-4
  %h3 操作
  %ul
    %li
      キラ化
      %ul
        - %w{ 潜水艦 駆逐艦 軽巡洋艦 正規空母 戦艦 }.each do |type|
          %li
            %a(href="/kira?type=#{type}")= type
    %li
      修理
      %ul
        %li
          %a(href="/repair") しゅうり
        %li
          %a(href="/repair?cheat=true") すごいしゅうり
    %li
      %a(href="/supply") ほきゅう
    %li
      %a(href="/quests") くえすと
    %li
      造船
      %ul
        %li
          %a(href="/create/cv") くうぼ
        %li
          %a(href="/create/bb") せんかん
        %li
          %a(href="/create/r-dd") れあ
        %li
          %a(href="/create/cheap") びんぼう
    %li
      装備
      %ul
        %li
          %a(href="/weapon/aircraft") ひこーき
        %li
          %a(href="/weapon/cheap") びんぼう

    %li
      危険
      %ul
        %li
          %a(href="/user/ships/destroy") 解体
